body{
	background: white url("images/bg.png");
}

.navbar{
	border-radius: 0;
}
.content-wrap {
    background: #fff;
    overflow: hidden;
    padding: 10px;
}
.content-wrap img {
    width: 100%;
    height: 200px;
}
.content-wrap {
    margin-bottom: 20px;
}
